!!! 5
html
    head
        title= title
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/netpeek") NetPeek
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact 

        h1= title

        p Welcome to #{title}
