link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/dojo/1/dijit/themes/claro/claro.css')
link(rel='stylesheet', href='/stylesheets/netpeek.css')
script(src='http://ajax.googleapis.com/ajax/libs/dojo/1/dojo/dojo.xd.js')
script(src='/javascripts/socket.io/socket.io.js')
script(src='/javascripts/netpeek.js')
h1= title
p Welcome to #{title}
body
    #container
button
    #dow-jones set NetPeek MSUs
button
    #timed-notifications Start
