!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/netpeek.css')
    script(src='http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js', data-dojo-config='parseOnLoad: true')
    script(src='/javascripts/socket.io/socket.io.js')
    script(src='/javascripts/netpeek.js')
  body(class='claro')
    #preLoader(data-dojo-id='preLoader')
    div(data-dojo-type='dijit.layout.BorderContainer', style='width: 98%; height: 98%')
      div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'leading', splitter:true", style='width: 80%')
        div(data-dojo-type='dijit.layout.TabContainer', style="width:100%; height:100%)
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Grid'")
            table#grid(data-dojo-type='dojox.grid.DataGrid', data-dojo-props="autoWidth:true, autoHeight:true")
              thead
                tr
                  th(data-dojo-props='field:id')#id id
                  th(data-dojo-props='field:phone')#phone phone
                  th(data-dojo-props='field:function')#function function
                  th(data-dojo-props='field:point')#point point
                  th(data-dojo-props='field:length')#length length
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Gauge'", style='width: 80%')
      div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'center'", data-dojo-id='centerPane')
        div(data-dojo-type='dijit.layout.TabContainer', style="width:100%; height:100%)
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Main'")
            p Welcome to #{title}
            button(data-dojo-type="dijit.form.Button", id="startPeek") Start Peek
            button(data-dojo-type="dijit.form.Button", id="stopPeek") Stop Peek
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Filters'")
      div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'bottom'", data-dojo-id='bottomPane')
        div(class="left")
          #{title}
        div(class="right", style='width: 1.8em; height: 1.8em')
          object(data="http://www.w3.org/html/logo/downloads/HTML5_Badge.svg", type="image/svg+xml", style='width: 98%; height: 98%')
