link(rel='stylesheet', href='/stylesheets/netpeek.css')
script(src='http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js')
script(src='/javascripts/netpeek.js')
h1= title
p Welcome to #{title}
body
    #container
button
    #dow-jones set Dow Jones Index
button
    #timed-notifications Start
