!!! 5
html(lang="en")
  head
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/dojo/1/dijit/themes/claro/claro.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/dojo/1/dojox/grid/resources/Grid.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/dojo/1/dojox/grid/resources/claroGrid.css')
    link(rel='stylesheet', href='/stylesheets/netpeek.css')
    script(src='http://ajax.googleapis.com/ajax/libs/dojo/1/dojo/dojo.xd.js', djConfig='parseOnLoad:true')
    script(src='/javascripts/socket.io/socket.io.js')
    script(src='/javascripts/netpeek.js')
  body(class='claro')
    p Welcome to #{title}
      #container
        #grid(data-dojo-type='dojox.grid.DataGrid', data-dojo-props='structure:layout')
